{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4 text-center">📘 Registro de Actividades</h2>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Acción</th>
            <th>Fecha</th>
        </tr>
    </thead>

    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.usuario }}</td>
            <td>{{ log.accion }}</td>
            <td>{{ log.fecha.strftime("%d/%m/%Y %H:%M") }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
